*{
    font-family:'Urbanist', sans-serif;
    /* background: aliceblue; */
    /* background-color: #00b7ff; 
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");     */
    box-sizing: border-box;
    margin:0;
    padding:0;
    
    
}
body{
    height:100vh;
    width: 100vw;
}

.site-name{
    display: flex;
    justify-content: center;
    color: #ff6a00;
    font-weight: 800;
}
@media only screen and (max-width: 320px) {
    .site-name{
        font-size: 20px;
    }
  }

  @media only screen and (min-width: 424px) and (max-width: 546px) {
    .site-name{
     font-weight: 350;
    }
  }

.container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 4px;
    
}
.sign-in{
    display: flex;
    justify-content: center;
    /* border:1px solid; */
    width: 25rem;
    height: 25rem;
    padding: 2rem 0 ;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgb(250 50 50 / 30%);
     
}
.sign-up{
    display: flex;
    justify-content: center;
    /* border:1px solid; */
    width: 25rem;
    height: 30rem;
    padding: 2rem 0 ;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgb(250 50 50 / 30%);
     
}


.sign-in-icon{
    padding-right: 6px;
}

.signup-form{
    width: 20rem;
    height: 2.5rem;
    margin-top: 5px;
    border-radius: 4px;
    border:0.5px solid;
    outline: none;
    border:1px solid #d7d1d1;
}
@media only screen and (max-width: 320px) {
    .signup-form{
        width: 15rem;
    }
  }

.signup, input:focus{
    outline: none;
}
.signup-form.error{
    border-color: #4285f4;

}
.error{
    font-size: 15px;
    margin: 0;
    padding: 0; 
    color: #ff6a00;    
}

.new-to-alibaba{
    margin-left: calc(35%);
    margin-top: 35px;
    font-size: 11px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgb(176, 166, 166);
}
.signup-button{
    width: 12rem;
    display: block;
    border: 0;
    background-color: #5431FF;
    margin-left: calc(20%);
    height: 3rem;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(250 50 50 / 100%);
   
}
@media only screen and (max-width: 320px) {
    .signup-button{
        width: 8rem;
    }
  }

.check-email{
    background-color: #c7edc7;
    width: 100vw;
    height: 100vh;
  
}
.check-email-container{
   text-align: center;
   padding: 5rem 0;
}
.login{
    background-color: #4285f4;
    color: white;
    border: 0;
    height: 2rem;
    width: 5rem;
}

.bottom-section{
    display: flex;
    justify-content: center;
    font-size: 8px;
   
}
.bottom-section h2{
    padding-right: 10px;
    padding-top: 60px;
    font-size: 10px;
}
.bottom-section h3{
    font-size: 10px;
}
@media only screen and (max-width: 320px) {
    .bottom-section h2{
       font-size: 10px;
       padding-top: 25px;
    }
  }
  
  @media only screen and (min-width: 424px) and (max-width: 546px) {
    .bottom-section h2{
       font-size: 10px;
       padding:0;
    }
  }

  @media only screen and (min-width: 547px) and (max-width: 768px) {
    .bottom-section h2{
       font-size: 10px;
       padding:0;
    }
  }

 h2:hover{
    color: #ff6a00; 
}
h3:hover{
    color: #ff6a00; 
}

.nav-bar-content{
    display: flex;
    justify-content: flex-end;
}
.navbar-user{
    position: relative;
    display: inline-block;
    

}
.navbar-user-container{
    border: none;
    background: none;
}
.user-details{
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid white ;
    box-shadow: 0 0 10px  #0000004c;
    height: 10rem;
    width: 10rem;
    margin: 6px 2rem;
    border-radius: 30px;
    background-color: #f8f9fa;
    
}

.navbar-user:hover .user-details{
    visibility: visible;
    
}
.user-profile-email{
    font-size: 1rem;
    display: flex;
    justify-content:space-evenly ;
    margin-top: 13px;
}
.logout{
    margin-top: 3rem;
    width: 8rem;
    margin-left: 1rem;
    border: none;
    border-radius: 10px;
}

.sidebar-user{
    position: relative;
    display: inline-block;
    cursor: pointer;

}
.sidebar-user-container{
    border: none;
    background: none;
    cursor: pointer;
  
}
.sidebar-user .sidebar-details{
    position: absolute;
    left:0;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 0 20px  #0000004c;
    background-color: #735af0;
    margin: 6px 5rem;
    font-size: 1rem;
    height:25rem;
    width:15rem;
    line-height: 5;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar-details, input:focus{
    outline: none;
    
}

*{
    scrollbar-width: thin;
    scrollbar-color: black rgb(174, 165, 165);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(99, 96, 96);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
  }